In [1]:
import pandas as pd
import numpy as np

In [2]:
diccionario = {
    "name":["Kevin","Jorge","Carlos","Ochoa","Rosy"],
    "age":[20,25,22,28,34],
    "salary":[20000,21000,22000,24000,25000],
    "gender":["M","M","M","M","F"]
}

In [3]:
data = pd.DataFrame(diccionario)

In [4]:
maximo = data["salary"].max()
minimo = data["salary"].min()
diferencia = data["salary"].max() - data["salary"].min()
print("El salario m치s alto es {0}, el salario m치s bajo es {1}, la diferencia entre ambos es {2}".format(maximo, minimo, diferencia))

El salario m치s alto es 25000, el salario m치s bajo es 20000, la diferencia entre ambos es 5000